@media screen and (max-width:1200px){
    header{
        flex-wrap: wrap;
    }
    .search{
        width:100% ;
    }
    .btn{
        padding:0.1em 0.2em;
    }
    section{ 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero{
        width: 90%;
        height:74vh;
    }
    .temp{
        height: 30%;
        margin-bottom: 150px;
        font-size: 3rem;
    }
    .city{
        font-size: 5rem;
    }
    .remain{
        margin-top: 70px;
        gap:40px;
    }
    .rebox h1{
        font-size: 3rem;
    }
    .humIcon, .windIcon{
    padding:20px;
    width:50% ;
}
}

@media screen and (max-width:800px){
    header{
        flex-wrap: wrap;
    }
    .search{
        width:100% ;
    }
    .btn{
        padding:0.1em 0.2em;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero{
        width: 88%;
        height:74vh;
    }
    .temp{
        height: 30%;
        margin-bottom: 150px;
        font-size: 2rem;
    }
    .tempIcon{
        padding: 14px;
    }
    .tempNumerical{
        font-size: 4rem;
    }
    .city{
        font-size: 4rem;
    }
    .remain{
        margin-top: 70px;
        gap:40px;
    }
    .rebox h1{
        font-size: 2rem;
    }
    .reNum{
        font-size: 2rem;
        margin-top: 40px;
    }
    .icon{
        padding:0px;
        width:50% ;
        margin-top: 40px;
    }
}


@media screen and (max-width:800px){
    .tempNumerical{
        font-size: 3rem;
    }
}
